# =========================
# Dépendances
# =========================
node_modules/
.pnpm-store/

# =========================
# Builds / outputs
# =========================
dist/
*.local.html

# =========================
# Vite / cache
# =========================
.vite/
vite.config.ts.timestamp-*

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Logs
# =========================
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environnements
# =========================
.env
.env.*
!.env.example

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Tests / Coverage
# =========================
coverage/
